.container {
    position: relative;
    width: 100%;
}
#map {
    position: absolute;
    top: 0;
    left: 0;
    height: 99vh;
    width: 99vw;
    z-index: 0;    
}

div{
    padding: 0;
}

.overlay {     
  width: 30%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;      
  background-color: rgba(255, 255, 255, 0.5);     
  z-index: 10;
}

.triple-column {
    display: grid;
    grid-template-columns: auto 5em auto;
    border: 2px solid rgba(0,0,0,0.2);
    gap: 0.5em;
    background-color: rgba(255, 255, 255, 0.5); 
}

.map-button{
    font-size: large;

}